@model IList<ComplaintBox.Web.Models.Complaint>

<h2>Complain Details</h2>


        
        @foreach(var complain in Model)
        {
            <div>
            
               <div> Name: @complain.Complainer</div>
               <div>Phone: @complain.PhoneNumber </div>
               <div>Address: @complain.Address</div>
               <div>Subject: @complain.Subject</div>
               <div>Your Complain:@complain.Description</div>
                <div>Your Comments:@complain.Comment</div>
               <div>Complain Status: @complain.Status</div>
               <div>Complain Date: @complain.ComplainDate</div>
           </div>
        }            
