@model ComplaintBox.Web.Models.SignUpViewModel

@{
    Layout = "~/Views/Shared/_SeconderyLayout.cshtml";   
}

@section Style{
    <style type="text/css">
        #signup-form {
            background-color: #ffffff;
            border-radius: 5px;
            margin-bottom: 20px;
            margin-top: 20px;
            padding: 15px 50px;
        }
    </style>
}

<div class="container">
    <div class="row">
        <div class="col-lg-offset-4 col-lg-5 ">


            @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { id = "signup-form" }))
            {

                @Html.AntiForgeryToken()
                
                <h1 class="text-center">Singup And Enjoy!</h1>

                <div class="form-group">
                    <label for="username">User Name</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-user"></span></span>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name", id = "username" })

                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", id = "email" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-key"></span></span>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", id = "password" })

                    </div>

                </div>

                <div class="form-group">
                    <label for="confirmpassword">Repeat Password</label>


                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-key"></span></span>
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Repeat Password", id = "confirmpassword" })
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-success btn-block">Sign Up</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>




@section Script
{


}
