@using ComplaintBox.Web.Models
@using MvcPaging
@model MvcPaging.IPagedList<ComplaintBox.Web.Models.OrganizationViewModel>

@{
    ViewBag.Title = "Organizations";
    Layout = "/Views/Shared/_SeconderyLayout.cshtml";
}

@section Style
{
    <style type="text/css">
        .organization-list {
            background: #fff;
            border-radius: 5px;
            margin: 30px 0px 30px 0px;
            padding: 20px 20px;
        }

        .registered-org-header { margin-bottom: 20px; }
    </style>

}

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="organization-list">
                <h1 class="registered-org-header text-center">Registered Organizations</h1>

                <div class="list-group">


                    @foreach (OrganizationViewModel org in Model)
                    {
                        <a href="/Feedback/Feedback/@org.OrganizationId" class="list-group-item">
                            <h3 class="list-group-item-heading">@org.Name</h3>
                            <p class="list-group-item-text">@org.Address <span class="glyphicon glyphicon-earphone"></span>&nbsp; @org.PhoneNumber</p>
                        </a>
                    }
                </div>


                <div class="row">
                    <div class="pager">
                        @Html.Raw(Html.Pager(
                            new Options
                                {
                                    PageSize = Model.PageSize,
                                    TotalItemCount = Model.TotalItemCount,
                                    CurrentPage = Model.PageNumber,
                                    ItemTexts = new ItemTexts {Next = "Next", Previous = "Previous", Page = ""},
                                    ItemIcon = new ItemIcon {First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward"},
                                    TooltipTitles = new TooltipTitles {Next = "Next page", Previous = "Previous page", Page = "Go to page {0}.", First = "Go To First Page", Last = "Go To Last Page"},
                                    Size = Size.normal,
                                    Alignment = Alignment.centered,
                                    IsShowControls = true,
                                    IsShowFirstLast = true
                                }, new {controller = "Organization", action = "OrganizationSearch", searchTerm = ViewBag.searchTerm}))
                    </div>

                    <div class="well text-center">
                        Showing <span class="label label-info">@Model.ItemStart</span> to <span class="label label-info">@Model.ItemEnd</span>
                        of <span class="label label-info">@Model.TotalItemCount</span> entries
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>