@using ComplaintBox.Web.Models
@using MvcPaging
@model FeedbackListViewModel

@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageTitle = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    IPagedList<FeedBackViewModel> pagedModel = Model.FeedBackViewModels;

    string fromDate = ((DateTime) ViewBag.FromDate).ToString("dd/MMM/yyyy");
    string toDate = ((DateTime) ViewBag.ToDate).ToString("dd/MMM/yyyy");
    
}

<div class="container">


    <div class="row">


        <h2>Feedback List</h2>
        <h4>Filter Criteria</h4>
        <span>@Model.SubjectTitle</span> : @ViewBag.Topic
        <br />
        <span >Status</span>: @ViewBag.Status
        <br />
        <span >From</span>:  @fromDate
        <br />
        <span>To</span>: @toDate
        
        <hr />

        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Date</th>
                <th>Feedback</th>
                <th>@Model.SubjectTitle</th>
                <th>Status</th>
                <th></th>
            </tr>

            @foreach (FeedBackViewModel item in Model.FeedBackViewModels)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FeedbackUser)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.FeedbackDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Feedback)</td>
                    <td>@Html.DisplayFor(modelItem => item.Topic)</td>
                    <td>

                        @{
                            if (item.Status == "NEW")
                            {
                                <span class="label label-warning">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </span>
                            }
                            else
                            {
                                <span class="label label-success">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </span>
                            }
                        }


                    </td>
                    <td>
                        <a href="@Url.Action("FeedbackDetails", new {id = item.FeedbackId})"><span class="fa fa-table"></span></a>
                    </td>
                </tr>
            }

        </table>

    </div>

    <div class="row">
        <div class="pager">
            @Html.Raw(Html.Pager(
                new Options
                    {
                        PageSize = pagedModel.PageSize,
                        TotalItemCount = pagedModel.TotalItemCount,
                        CurrentPage = pagedModel.PageNumber,
                        ItemTexts = new ItemTexts {Next = "Next", Previous = "Previous", Page = ""},
                        ItemIcon = new ItemIcon {First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward"},
                        TooltipTitles = new TooltipTitles {Next = "Next page", Previous = "Previous page", Page = "Go to page {0}.", First = "Go To First Page", Last = "Go To Last Page"},
                        Size = Size.normal,
                        Alignment = Alignment.centered,
                        IsShowControls = true,
                        IsShowFirstLast = true,
                        IsShowPages = true,
                       
                        
                    },
                new
                    {
                        controller = "Admin", 
                        action = "AdvancedFeedbackList", 
                        TopicId = ViewBag.TopicId , FromDate = ViewBag.FromDate, ToDate = ViewBag.ToDate, Status = ViewBag.Status
                    }))
        </div>
        
       <div class="well text-center">
            Showing <span class="label label-info">@pagedModel.ItemStart</span> to <span class="label label-info">@pagedModel.ItemEnd</span>
            of <span class="label label-info">@pagedModel.TotalItemCount</span> entries
        </div>
    </div>

</div>