@model IList<ComplaintBox.Web.Models.Complaint>
<h2>Complaint's</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Subject</th>
            <th>Complain</th>
            <th>Status</th>
           
        </tr>
    </thead>
    <tbody>
        
        @foreach(var complain in Model)
        {
            <tr>
                <td>@complain.Complainer</td>
                <td>@complain.PhoneNumber</td> 
                <td>@complain.Address</td>
                <td>@complain.Subject</td>
                <td>@complain.Description</td>
                <td>@complain.Status</td>
               
            </tr>
        }            
    </tbody>
</table>
