@model ComplaintBox.Web.Models.Complaint 

@using (Html.BeginForm("WriteComplain", "Complain", FormMethod.Post))
{
     @Html.ValidationSummary(true)
    <fieldset>
        <legend>Add Complain</legend>
            @Html.LabelFor(m=>m.Complainer)
            @Html.EditorFor(m=>m.Complainer)
            @Html.ValidationMessageFor(m=> m.Complainer)

            @Html.LabelFor(m=>m.PhoneNumber)
            @Html.EditorFor(m=>m.PhoneNumber)
        
            @Html.LabelFor(m=>m.Address)
            @Html.EditorFor(m=>m.Address)
        
            @Html.LabelFor(m=>m.EmailAddress)
            @Html.EditorFor(m=>m.EmailAddress)
            @Html.ValidationMessageFor(m=> m.EmailAddress)
           
            
            
            <label for="SubjectId">@ViewBag.SubjectTitle</label>
            @Html.DropDownListFor(c=> c.SubjectId, (IList<SelectListItem>)ViewBag.Subjects)
            @Html.ValidationMessageFor(c=> c.SubjectId)


            @Html.HiddenFor(m=> m.OrganizationId)

            @Html.LabelFor(m=>m.Description)             
            @Html.TextAreaFor(c=> c.Description)
            @Html.ValidationMessageFor(m=> m.Description)

            @Html.LabelFor(m=>m.Rating)
            @Html.TextBoxFor(m=>m.Rating)
            @Html.ValidationMessageFor(m=> m.Rating)

            <div>
            <input type="submit" value ="SEND"/>
            </div>
            
    </fieldset>
}

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}